






/*footer*/

footer{
    border: 1px solid $colorprincipal;
    margin-top: 15%;



    
}


.footerLista ul li{
    display: inline-block;
}

.footerLista{
    text-align: center;
}



.footer__contenedor{
    flex-direction: row;
    @include flex(center, center); 
    margin-top: 5vh;
}




.footer__imagen1 img{
    object-fit: cover;
    width: 100%;

}

.footer__imagen2 img{
    object-fit: cover;
    width: 100%;
}